.page {
  text-align: center;
  background-color: #101728;
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
