.front-page__title {
  font-weight: 700;
  color: white;
  font-size: 85px;
  width: 460px;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .front-page__title {
    font-size: 30px;
    width: 250px;
  }
}
