.title {
  width: 90%;
  font-size: 48px;
  font-weight: 700;
  color: #9553fd;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .title {
    font-size: 22px;
    width: 75%;
    margin: 0 auto;
  }
}
