.icon {
  color: white;
  font-size: 3em;
  line-height: 0.04167em;
  vertical-align: -0.125em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon:hover {
  color: #9553fd;
  box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .icon {
    font-size: 1.5em;
  }
}
