.ranking-fifa {
  margin: auto;
  padding-top: 60px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .ranking-fifa {
    width: 60%;
  }
}