.containerArqueros {
    padding-top: 60px;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.textoArqueros {
    color: white;
    flex: 1;
    margin: 10px;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.imagenArquerosContainer {
    height: 250px;
    width: 350px;
    margin: 10px;
}