.qualification__subtitle {
  font-size: 38px;
  color: white;
  font-weight: 700;
  width: 880px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .qualification__subtitle {
    font-size: 18px;
    width: 70%;
  }
}
